
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../public/css/style.css"/> -->
    <title>Document</title>
    <style>
        .main{
            display: flex;
        }
        .ul_main{
            display: flex;
        }
        li{
            margin: 10px;
        }
    </style>
</head>
<body>
    <header>
            <div class="main">
                <ul class="ul_main">
                    <li><a href="/">Home</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
    </header>
</body>
</html>