<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../public/css/style.css"/>
</head>
<body>
    <section>
        <%- include('partials/header') %>
    </section>
    <section>
        <h1 style="text-align: center">Welcome Akshay</h1>
        <div style="text-align: center">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis recusandae consequuntur debitis, ipsa corrupti iste quas cum soluta consequatur placeat quam nemo delectus inventore rerum repellendus perferendis perspiciatis tempore quis!</p>
        </div>
    </section>
    <script src="/public/js/index.js"></script>
</body>
</html>
